@page
@model UsersAndAwards.PL.WebApp.Pages.UserListTestModel
@{
	ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">A list of users test</h1>
    <p></a>mmm</p>
</div>
