@page "{id:Guid}"
@model UsersAndAwards.PL.WebApp.Pages.Awards.DeleteAwardModel
@{
	ViewData["Title"] = "Details award";
}

<h1>Details</h1>

<div>
    <h4>Award</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Award.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Award.Title)
        </dd>

        <table class="table">
            <thead>
                <tr>
                    <th>
                     User
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Award.Users) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-page="EditAward" asp-route-id="@Model.Award.Id">Edit</a> |
    <a asp-page="AwardsList">Back to List</a>
</div>