@page "{id:Guid}"
@model UsersAndAwards.PL.WebApp.Pages.Awards.EditAwardModel
@{
		ViewData["Title"] = "Edit award";
}

<h1>Edit</h1>

<h4>Award</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Award.Id" />
            <div class="form-group">
                <label asp-for="Award.Title" class="control-label"></label>
                <input asp-for="Award.Title" class="form-control" />
                <span asp-validation-for="Award.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="AwardsList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}